/* Global styles */
.about-us-container {
    font-family: Arial, sans-serif;
    margin: auto;
    /* width: 60rem; */
    border-radius: 20px;
    background-image: url('./aboutusBackground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #BACDDB;
  }
  
  /* Header styles */
  .headAbout {
    background-color: #00235B;
    color: aliceblue;
    align-items: center;
    padding: 1rem;
    border-radius: 20px;
  }
  
  
  
 
  /* Main styles */
  .mainComp {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .about-section {
    margin-bottom: 2rem;
  }
  
  .Abouth2{
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: underline;
  }
  
  .AboutP{
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
  }
  
  
  .AboutUl {
    font-size: 1rem;
    list-style: disc;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    list-style-type: none;
  }
  .github{
    color: #0B2447;
    font-weight: bold;
  }

  .github:hover{
    color: coral;
  }

  .contact{
    display: flex;
    justify-content: space-around;
  }
  